svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: gray;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.node .selected {
  stroke: red;
}


path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
